<!DOCTYPE html>
<html>
<head>
</head>
<body>
<mat-horizontal-stepper class="stepper"[linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form class="form-group"[formGroup]="firstFormGroup">
      <h1>Question 1:</h1><br>
      <div class="smiley_box">
      <img class="smiley" [src]="this.nonSatisfait[0]" (click)="satisfation(0,0)" >

      <img class="smiley"[src]="this.tresmoyen[0]"(click)="satisfation(1,0)">

      <img class="smiley"[src]="this.moyen[0]"(click)="satisfation(2,0)">

      <img class="smiley"[src]="this.satisfait[0]" (click)="satisfation(3,0)">

      <img class="smiley"[src]="this.tresSatisfait[0]"(click)="satisfation(4,0)">
      </div>



      <ng-template matStepLabel>Fill out your name</ng-template>




    </form>
    <div >
      <button class="btn btn-danger suivant" mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <ul style="list-style-type:none;">

        <li>
      <mat-form-field>
        <label for="name">Nom, prénom : (optionnel)</label>
        <input matInput class="form-control" autocomplete="off"  id="name" >

      </mat-form-field>
        </li>
        <li>
      <mat-form-field>
      <label for="mail">E-mail : (optionnel)</label>
      <input matInput class="form-control"  id="mail" autocomplete="off">
      </mat-form-field>
        </li>
      </ul>
      <div>
        <button class="btn btn-danger" mat-button matStepperPrevious >Back</button>

        <button class="btn btn-danger suivant" mat-button matStepperNext (click)="envoyer()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Merci !</ng-template>


  </mat-step>
</mat-horizontal-stepper>


</body>
</html>



