<!DOCTYPE html>
<html>
<head>

</head>
<body>
<img src="https://www.restaurant-chateau-brest.fr/template/images/graphisme_site/img_header/header_bg.png" id="baniere">
<img src="https://www.restaurant-chateau-brest.fr/template/images/graphisme_site/img_header/header_logo.png">
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form class="form-group"[formGroup]="firstFormGroup">

      <input type="image" [src]="this.nonSatisfait[1]" (click)="satisfation(1,1)">

      <input type="image" [src]="this.tresmoyen1"(click)="satisfation(2,1)">

      <input type="image" [src]="this.moyen1"(click)="satisfation(3,1)">

      <input type="image" [src]="this.satisfait1"(click)="satisfation(4,1)">

      <input type="image" [src]="this.tresSatisfait1"(click)="satisfation(5,1)">




      <ng-template matStepLabel>Fill out your name</ng-template>



      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <ul style="list-style-type:none;">

        <li>
      <mat-form-field>
        <label for="name">Nom, prénom : (optionnel)</label>
        <input matInput class="form-control" autocomplete="off"  id="name" >

      </mat-form-field>
        </li>
        <li>
      <mat-form-field>
      <label for="mail">E-mail : (optionnel)</label>
      <input matInput class="form-control"  id="mail" autocomplete="off">
      </mat-form-field>
        </li>
      </ul>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

<button type="button" class="btn btn-primary">Primary</button>

</body>
</html>



