
body {
  background-color:white;
  background-image:url(https://www.restaurant-chateau-brest.fr/template/images/graphisme_site/img_header/header_bg.png);
}
.smiley_box{
  display: flex;
}
.smiley{

  width: 20%;
  height: auto;
}
.stepper{
  width: 100%;
  height: auto;

}
.suivant{
  float: right;
}

.content{

  top: 100px;
  display: flex;
  flex-direction: column;

}
.header-chateau{

  position: absolute;
  right: 0;
}

.header-titre{
  position: relative;
  left: 30%;
}
.formulaire{
  position: absolute;
}
.header{
}
